body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;/*define el grosor o el alto de una linea*/
    background-color: #f4f4f4;
    color: #333;
}

header{
    background-color: #4caf50;
    color: aliceblue;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 2px -2px gray;
}

header h1 {
    margin: 0
    font-size: 2.5;
    display: flex;
    Justify-content: center; 
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}
nav ul li a{
    color: azure;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav ul li a:hover{
    color: black;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.flex-container {
    display: flex;
    gap: 10px;
    color: #4caf50;
} 

#flex-container1 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;   
}

#flex-container2 {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;    
}

#flex-container3 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;    
}

.flex-item {
   background: #4caf50;
    color: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    flex: 1;
}

footer{
    background-color: rgb(36, 33, 33);
    color: azure;
    text-align: center;
    padding: 0;
 }
